* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: url('./img/3c23b3bcf6602ce54e4545c2e797e517.gif'); /* Usa la imagen que has subido */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.form-container {
    background: rgba(255, 255, 255, 0.041); /* Fondo semi-transparente */
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    padding: 40px 60px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.form-container:hover {
    transform: scale(1.05);
}

h1 {
    margin-bottom: 20px;
    font-weight: 600;
    color: #e2cfcf;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #a7a7a7;
}

.input-group input {
    width: 100%;
    padding: 10px 10px 10px 30px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.input-group input:focus {
    border-color: #6e8efb;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background: #6e8efb;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #a777e3;
}

.message {
    margin-top: 20px;
    color: #e0d2d2;
}

.message a {
    color: #6e8efb;
    text-decoration: none;
    transition: color 0.3s;
}

.message a:hover {
    color: #a777e3;
}
